*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* FUENTE */
    font-family: 'Roboto', sans-serif;
}

:root{
    --naranja: rgba(245, 161, 4, 0.986);

}

.container{
    width: 1200px;
    margin: 0 auto;
    background-color: rgb(53, 52, 52);
}
 /* HEADER */
header{
    background-color: var(--naranja); 
    height: 60px;
    position:relative;
    z-index: 1; 
}

.logo{
    float: left;
}

.lista{
    list-style: none;
    display: flex;
    text-align: center;
}

.lista-items{
    flex-grow: 1;
    margin-top: 22px;
    font-size: 16px;
}

.lista-items a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;    
}

.lista-items a:hover{
    color: #444;
}

.desplegable{
    position: relative;
}

.login{
    display: none;
    position: absolute;
    right: 0;
    top: 42px;
    max-width: 200px;
    list-style: none;
    background-color: var(--naranja); 
    font-size: 15px;  
    
}
.login a{
    font-size: 12px;
    padding: 5px;
}

.login form{
    font-weight: 600;
    text-transform: uppercase; 
    padding: 5px;
}

.desplegable:hover .login,
.desplegable:focus-within .login{
    display: block;
}

/* BURGER BUTTON */
.toggle-check{
    display: none;
}

/* CIERRA HEADER 
COMIENZA BANNER
*/
.banner{
    display: block;
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 0;
    
}
.banner img{
    height: 400px;
    width: 100%;
    position: absolute;
}

.texto-banner{
    background-color: rgba(0, 0, 0, 0.5);
    color:  var(--naranja);
    height: 400px;

    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;

    position: relative;
    z-index: 1;
    opacity: -1;

    transition: all 2s;
} 

.texto-banner img{
    height: 450px;
}

.texto-banner:hover{
    opacity: 1;
}
.texto-banner img{
    transform: translate(50px);
    transition: all 3s;
} 
.texto-banner:hover img{
    transform: translateX(300px);
    transition: all .5s;
} 
/* CIERRA BANNER
COMIENDA CARRUSEL
*/
/* COMIENZA CARRUSEL */
.slider-img{
    height: 500px;
    width: 100%;
}

.slide-container{
    max-width: 1200px;
    position:relative;
    margin:auto;
}

.slides{
    display:none;
}


.prev:hover, .next:hover{
    background-color:rgba(0,0,0,0.8);
}  

.fade{
    animation-name:fade;
    animation-duration:1.5s;
}
   

/* CIERRA CARRUSEL COMIENZA CONTENIDO */


.contenido{
    width: 100%;
}

.nombre-equipo h1{
    background-color: var(--naranja);
    text-align: center;
    padding: 10px;
}

.logodelequipo{
    height: 250px;
    width: 250px;
    display: block;
    margin: auto;
}

.plantilla{
    width: 100%;
    margin: 20px 50px;
    display: flex;
    flex-wrap: wrap;
}

.plantilla img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.miembro{
    width: 30%;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    /* border: 1px solid var(--naranja); */
    border-radius: 5px;
    color: var(--naranja); 
}

.miembro p{
    padding: 5px;
}

.agregar-boton{
    padding: 3px;
}




/* CIERRA CONTENIDO 
COMIENZA FOOTER */
footer{
    height: 70px;
    display: flex;
    background-color: var(--naranja);
    
}

.derechos{
    width: 60%;
    text-align: center;
    margin-left: 20px;
}

.derechos p{
    margin-top: 10px;
}

.redes-sociales{
    width: 40%;
    float: right;
    text-align: right;
    margin-right: 20px;
}
.redes-sociales img{
    margin-top: 10px;
}

.redes-sociales a{
    text-decoration: none;
    color: #444;
    font-weight: 800;
     
}



/* JUGADAS.php */



.titulo-jugadas{
    background-color: var(--naranja);
    text-align: center;
    padding: 10px;
}
.jugadas iframe{
    margin: 10px auto;
    display: block;
}


/* REGISTRO.php  */

.formulario{
    height: 400px;
    text-align: center;
    margin: 40px auto;
}

.registro{
    width: 80%;
    background-color: #050109;
    opacity: 0.75;
    padding: 40px 0;
    margin: auto;
    border: 2px solid var(--naranja);
    border-radius: 10px;
}

.campo-form{
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    margin: 10px 0;
}

.boton-form{
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--naranja);
    font-weight: bold;
}
.boton-form:hover{
    background-color: #8e23f8;
    transition: 1s;
}


/* FIXTURE.php */

.fecha{
    background-color: white;
    display: flex;
    height: 80px;
    margin: 20px 60px;
    
}

.fecha:hover .dia-partido{
   background-color: var(--naranja);
   color: #444;
}


.titulo-fixture{
    background-color: var(--naranja);
    text-align: center;
    padding: 10px;
}

time{
    background-color: #444;
}

.dia-partido{
    width: 10% ;
    text-align: center;
    color: var(--naranja);
}
.dia-partido p{
    font-size: 35px;
    font-weight: bold;
    padding: 5px;
    
}


.datos-partido{
    width: 60%;  
    margin-left: 5px;   
}

.datos-partido span,p{
    font-size: 13px;
    font-weight: bold;
}

.competencia{
    color: var(--naranja);
    padding: 3px;
}

.vs{
    color: var(--naranja);
    
}

.planilla{
    width: 30%;
    
}

.planilla a{
    text-decoration: none;
    justify-content: center;
    position: relative;
    top: 30%;
    left: 35%;
    
    padding: 12px;
    border: 1px solid black;
    color: var(--naranja);
    font-weight: bold;
    background-color: #444;
}

.planilla a:hover{
    background-color: var(--naranja);
   color: #444;
}

/* ESTADISTICAS.php */
.tarjeta{
    width: 70%;
    border: 2px solid var(--naranja);
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
}

.img_estadistica{
    width: 30%;
}

.tarjeta-datos{
    width: 70%;
    margin-left: 20px;
    margin-top: 30px;
    color: var(--gris);
    display: flex;
}
.tarjeta-datos h1{
    text-align: center;
}
.tarjeta-datos table{
    margin: auto;
}

.tarjeta:hover{
    background-color: var(--naranja);
   color: #444;
}

@media (max-width: 900px){
    .container {
        width: 100vw;
        
    }
    
    .miembro {
        width: 40%;
    }
   
}


@media (max-width: 650px){
/* INDEX */
.container {
    width: 100vw;
}

.logo{
    display: none;
}

.desplegable{
    display: none;
}
    
.toggle-check{
    display: block;
}

#menuToggle{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  user-select: none;
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
}

#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background:rgb(53, 52, 52);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(53, 52, 52);
}


#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.menu{
  position: absolute;
  width: 40vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: var(--naranja);
  list-style-type: none;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li{
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul{
  transform: none;
}
   
.lista{
    flex-direction: column;
}
.banner{
    display: none;
} 
    
.plantilla{
    width: 100vw;
    flex-direction: column;
}
    
.miembro{
    width:80%;    
    
}
   
/* FIXTURE */
.slide-container{
    display: none;
}
.fecha{
    width: 80vw;
}
.dia-partido{
    width:20%;
}
.planilla{
    display: none;
}

/* ESTADISTICAS */

.tarjeta{
    flex-direction: column; 
}


}